<%= form_for([@book, @review]) do |f| %>

  <div class="field">
    <%= f.label :rating %><br>
    <%= f.select(:rating, %w[1 2 3 4 5]) %>

  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
